<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guoxiaoxing.gxadapter.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.guoxiaoxing.gxadapter.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.guoxiaoxing.gxadapter.demo.PullToRefreshActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.AnimationActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.HeaderAndFooterActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.SectionActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.MultipleItemActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.EmptyViewActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.DragAndSwipeActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.RecyclerClickItemActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.ExpandableActivity"/>
        <activity android:name="com.guoxiaoxing.gxadapter.demo.StickyHeaderActivity"/>
    </application>


</manifest>